@charset "UTF-8";

/* 全デバイス共通 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.news {
  padding: 5px;
}
/* スマホサイズ */

.topmenu {
  width: 100%;
  height: 40px;
  position: fixed;
  border-bottom: 1px solid rgba(128, 128, 128, 0.425);
  background-color: white;
  color: black;
  display: flex;
}

.news {
  flex-grow: 2; 
}

.news img {
  width: 160px;
}
.topmenu i {
  line-height: 40px;
  margin-left: 10px;
}

.map {
  margin: 6px;
  margin-left: 20px;

}

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 55px;
  box-sizing: border-box;

}

.container iframe {
  width: 100%;
  height: 100%;
}

.bottommenu {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  /* 文字の位置を調整 */
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 5px;
}


/* .topmenu .menus1 {
  margin-right: 10px;
  margin-left: 1px; 
}*/

.topmenu .menus3 {
  margin: 7px;
  margin-left: 10px;
  width: 20%;
  height: 50px;
}

/* .topmenu a {
  width: 20%;
  padding: 10px;
  text-align: right; 
} */

/* タブレットサイズに変更　768px以上 */
@media screen and (min-width: 768px) {
  .bottommenu {
    display: none;
  }

  .container {
    padding-bottom: 0;
  }
}

/* パソコンサイズに変更　1024px以上 */
@media screen and (min-width: 1024px) {
  .box {
    background-color:blue;
    width: 15%;
    display: flex;
    justify-content: space-between;
  } 
}